@inherits LayoutComponentBase
@layout e2e.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <ErrorBoundary Context="Exception">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <div class="alert bg-danger text-white alert-dismissible">
                @Exception.GetType(): @Exception.Message
                <button class="btn btn-primary" @onclick="() => Exception = null">Dismiss</button>
            </div>
        </ErrorContent>
    </ErrorBoundary>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}