@using Microsoft.AspNetCore.Identity
@using e2e.Data


<ul class="nav nav-pills">
    <li class="nav-item">
        <NavLink class="nav-link" href="MasterDocument/Search" Match="NavLinkMatch.All">Buscar Campaña</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="MasterDocument/Report">Reporte de Avance</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link disabled" href="MasterDocument/Details">Detalle de documento</NavLink>
    </li>
</ul>

