@page "/MasterDocument/Search"
@using System.ComponentModel.DataAnnotations
@inject e2e.Services.ICampaignService CampaignService
@inject ILogger<Index> Logger
@inject MasterDocumentRedirectManager RedirectManager

<PageTitle>Documento Maestro</PageTitle>

<h3>Selcciona Campaña</h3>

@if (campaigns == null)
{
    <p><em>Loading...</em></p>
} 
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm FormName="search" Model="Input" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" />
                <div class="form-floating mb-3">
                    <InputSelect @bind-Value="Input.Name" class="form-select">
                        <option value="">Selecciona una campaña</option>
                        @foreach (var campaign in campaigns)
                        {
                            <option checked="@(Input.Name == campaign.ClientName)" value="@campaign.ClientName">@campaign.ClientName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Input.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </EditForm>
        </div>
    </div>
}


@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private List<Model.Campaign> campaigns = new();

    protected override async Task OnInitializedAsync()
    {
        campaigns = await CampaignService.GetCampaignsAsync();
    }

    private async Task OnValidSubmitAsync(EditContext editContext)
    {
        Logger.LogInformation("Campaña seleccionada: {ID}", Input.Name);
        var campaignID = campaigns.Where(c => c.ClientName == Input.Name).First().CampaignId;
        RedirectManager.RedirectTo($"/MasterDocument/Details/", new() { ["id"] = campaignID });

    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name= "Nombre de campaña")]
        public string Name { get; set; } = "";
    }   
}
